<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 메인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/center.css}">
</head>

<body>

<header style="font-size: 50px;">
    <div th:include="/list/layout/nav"></div>
</header>
<!-- partial:index.partial.html -->
<section class="faq">
    <div class="center_containers">
        <div class="center_main_container" th:onclick="|location.href='@{center_faq}'|">
            <img src="/img/center/faq.png">
            <div class="pbox">
                <p class="big">FAQ</p>
                <p class="small">문의 전 자주 찾는 질문을 찾아보세요!</p>
            </div>
        </div>
        <div class="center_main_container" th:onclick="|location.href='@{center_question}'|">
            <img src="/img/center/moon.png">
            <div class="pbox">
                <p class="big">1:1</p>
                <p class="medium">문의하기</p>
            </div>
        </div>
    </div>

</section>
<footer>
    <div th:include="/list/layout/footer"></div>
</footer>
</body>
</html>
</body>
</html>