<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1 문의하기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/center.css}">
</head>
<body>

<header style="font-size: 50px;">
    <div th:include="/list/layout/nav"></div>
</header>

<div class="center_loc">
    <a href="index"><img src="/img/admin/admin_home_bl.png" width="15px"> &nbsp; > &nbsp;</a>
    <a href="center_main"> 고객센터 &nbsp; > &nbsp; </a>
    <a href="center_question"> 1:1 문의하기</a>
</div>

<div class="center_title">
    <h3>문의해주셔서 감사합니다!</h3>
    <h4>빠른 시일 내에 답변해드리겠습니다.</h4>
    <h4>문의 내역은 [내 정보] 에서 확인하실 수 있습니다.</h4>
    <button onclick="location.href='index'">홈으로</button>



</div>


<footer>
    <div th:include="/list/layout/footer"></div>
</footer>

</body>