<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/my_profile.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/my_profile.js"></script>
    <title>My Page</title>
</head>
<body>
<div id="app">
    <div id="profile">
        <img id="profileImage" src="/img/login/default-profile.png" alt="Profile Picture">
        <h2 id="nickname">Nickname</h2>
        <div id="buttons">
            <div class="button" id="editprofile" onclick="loadContent('EditProfile')">회원 정보 수정</div>
            <div class="button" id="inquiries" onclick="loadContent('Inquiries')">문의 내역</div>
            <div class="button" id="payments" onclick="loadContent('Payments')">결제 내역</div>
            <div class="button" id="withdraw" onclick="loadContent('Withdraw')">회원 탈퇴</div>
        </div>
    </div>
    <div id="content">
        <!-- Content will be dynamically loaded here -->
    </div>
</div>

<script src="main.js"></script>
</body>
</html>
