<!DOCTYPE html>
<html lang="en">
<!--xmlns:th="http://www.thymeleaf.org"-->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!--네브바-->
<header style="font-size: 50px;">
 <div th:include="/list/layout/nav"></div>
</header>

<button onclick="saveReq()">글작성</button>

<table border="1">
 <tr>
  <th>id</th>
  <th>title</th>
<!--  <th>title(||쓰지 않은 경우)</th>-->
  <th>writer</th>
  <th>date</th>
  <th>hits</th>
 </tr>
 <tr th:each="CommunityDto: ${communityList}">
  <td th:text="${CommunityDto.id}"></td>
  <td><a th:href="@{|/board/Community_list/${CommunityDto.id}|}" th:text="${CommunityDto.commuTitle}"></a></td>
<!--  <td><a th:href="@{/community_list/${community.id}}" th:text="${community.boardTitle}"></a></td>-->
  <td th:text="${CommunityDto.commuWriter}"></td>
  <td th:text="*{#temporals.format(CommunityDto.commuCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
  <td th:text="${CommunityDto.commuHits}"></td>
 </tr>
</table>

<!-- 첫번째 페이지로 이동 -->
<!-- /board/paging?page=1 -->
<a th:href="@{/board/Community_list(page=1)}">First</a>
<!-- 이전 링크 활성화 비활성화 -->
<!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
<a th:href="${communityList.first} ? '#' : @{/board/Community_list(page=${communityList.number})}">prev</a>

<!-- 페이지 번호 링크(현재 페이지는 숫자만)
        for(int page=startPage; page<=endPage; page++)-->
<span th:each="page: ${#numbers.sequence(startpage, endPage)}">
<!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == communityList.number + 1}" th:text="${page}"></span>
 <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == communityList.number + 1}">
        <a th:href="@{/board/Community_list(page=${page})}" th:text="${page}"></a>
    </span>
</span>

<!-- 다음 링크 활성화 비활성화
    사용자: 2페이지, getNumber: 1, 3페이지-->
<a th:href="${communityList.last} ? '#' : @{/board/Community_list(page=${communityList.number + 2})}">next</a>
<!-- 마지막 페이지로 이동 -->
<a th:href="@{/board/Community_list(page=${communityList.totalPages})}">Last</a>


</body>

<!--푸터-->
<footer>
 <div th:include="/list/layout/footer"></div>
</footer>

<script>

 const saveReq = () => {
  location.href = "/board/community_post";
 }


</script>

</html>