<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1 문의하기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/center.css}">
</head>
<body>

<header style="font-size: 50px;">
    <div th:include="/list/layout/nav"></div>
</header>

<div class="center_loc">
    <a href="index"><img src="/img/admin/admin_home_bl.png" width="15px"> &nbsp; > &nbsp;</a>
    <a href="center_main"> 고객센터 &nbsp; > &nbsp; </a>
    <a href="center_question"> 1:1 문의하기</a>
</div>

<div class="center_title">
    <h1>1:1 문의하기</h1>

    <form action="center_question_ok">
        <table class="moon_write_form">
            <tr>
                <td>유형</td>
                <td>
                    <input type="radio" name="moon_type" value="question"> 문의 &nbsp;&nbsp;
                    <input type="radio" name="moon_type" value="report"> 신고
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" width="160" placeholder="제목을 적어주세요." name="moon_title">
                </td>
            </tr>
            <tr>
                <td>문의사항</td>
                <td>
                    <textarea cols="60" rows="20" placeholder="문의내용을 적어주세요."></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="완료">&nbsp;
                    <input type="reset" value="다시작성">&nbsp;
                    <input type="button" onclick="location.href='center_main'" value="뒤로가기">&nbsp;
                </td>
            </tr>
        </table>
    </form>

</div>


<footer>
    <div th:include="/list/layout/footer"></div>
</footer>

</body>