<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Menu</title>

<!--    <script src="/js/pet.js"></script>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/card_list.css}">

</head>

<body>
    <header style="font-size: 50px;">
        <div th:include="/list/layout/nav"></div>
    </header>
<br>
<br>
<br>
<div class="container1">

    <section>

        <div class="card1"><img src="img/티모시.jpg">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br><br> Stelliferous</p>
            <p><span style="font-size: 12px;">바래? 다 줄게!</span></p>
        </div>

        <div class="card1"><img src="img/티모시.jpg">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br><br>Stelliferous</p>
            <p><span style="font-size: 12px;">There are many variations of passages of Lorem lpsum avaliable</span></p>

        </div>

        <div class="card1"><img src="img/pic3.jpg">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br><br> Stelliferous</p>
            <p><span style="font-size: 12px;">There are many variations of passages of Lorem lpsum avaliable</span></p>

        </div>

        <div class="card1"><img src="img/티모시.jpg">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br> <br>Stelliferous</p>
            <p><span style="font-size: 12px;">There are many variations of passages of Lorem lpsum avaliable</span></p>

        </div>

        <div class="card1"><img src="img/pic5.jpg">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br><br> Stelliferous</p>
            <p><span style="font-size: 12px;">There are many variations of passages of Lorem lpsum avaliable</span></p>

        </div>

        <div class="card1"><img src="img/pic6.jpg">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br><br> Stelliferous</p>
            <p><span style="font-size: 12px;">There are many variations of passages of Lorem lpsum avaliable</span></p>

        </div>

        <div class="card1"><img src="img/pic7.jpg">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br><br> Stelliferous</p>
            <p><span style="font-size: 12px;">There are many variations of passages of Lorem lpsum avaliable</span></p>

        </div>

        <div class="card1"><img src="img/pic8.png">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br><br> Stelliferous</p>
            <p><span style="font-size: 12px;">There are many variations of passages of Lorem lpsum avaliable</span></p>

        </div>

        <div class="card1"><img src="img/pic8.png">
            <br>
            <br>
            <p><span style=color:#e2703a;>★★★★★</span><br><br> Stelliferous</p>
            <p><span style="font-size: 12px;">There are many variations of passages of Lorem lpsum avaliable</span></p>

        </div>
<!--        &lt;!&ndash; 따라다니는 배너 &ndash;&gt;-->
<!--        <div class="height">-->
<!--            <div id="floatRight">-->
<!--                <a href="https://fconline.nexon.com/main/index" target="_blank()"><img src="img/ad.png" style="width:300px;"/></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; 따라다니는 배너 &ndash;&gt;-->
</div>
</section>


<footer>
    <div th:include="/list/layout/footer"></div>
</footer>

</body>
</html>