<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>관리자페이지 : 고객관리</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
</head>
<body>

	<main>

		<!--   헤더 -->
		<nav th:replace="~{/adminad/fragment/admin_header :: admin_header2}"></nav>
  	
  	<section class="content">
  	
  	<div class="left-content">
  	 left-content
  	 
  	 회원 관리 화면입니다

  	<div class="left-bottom">
  	left-bottom
  	</div>

  	</div>


		<!--   푸터 -->
		<nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer}"></nav>


  	</section>
	</main>


</body>
</html>