
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<main>

		<!--   헤더 -->
		<nav th:replace="~{/adminad/fragment/admin_header :: admin_header4}"></nav>
  	
  	<section class="content">
  	
  	<div class="left-content">
  	 left-content
  	 
  	 문의글 보기 화면입니다

  	<div class="left-bottom">
  	left-bottom
  	</div>

  	</div>


		<!--   푸터 -->
		<nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer}"></nav>


  	</section>
	</main>
	
</body>
</html>