<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>공지 리스트</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
</head>
<body>

	<main>

		<!--   헤더 -->
		<nav th:replace="~{/adminad/fragment/admin_header :: admin_header3}"></nav>

		<section class="content">

			<div class="half_content">
			<!--		1 공지사항 -->
				<div class="admin_half_area">

					<h1 class="blue">공지사항</h1>

					<!--  	  검색창 영역 -->
					<div class="search">
						<button onclick="location='admin_notice_write'">공지올리기</button>
						<input type="text" class="searchTerm" placeholder="제목or내용">
						<div class="searchButton"><img class="search_img" src="/img/admin/search.png"></div>
					</div>
					<!--		검색창 영역 끝 -->


					<div class="notice_container">
						<table class="notice_table">
							<tr>
								<th style="width: 30%">번호</th>
								<th style="width: 30%">제목</th>
								<th style="width: 30%">내용</th>
								<th style="width: 5%"></th>
							</tr>
							<tr th:each="notice: ${noticeList}">
								<td th:text="${notice.notice_id}"></td>
								<td th:text="${notice.notice_title}"></td>
								<td th:text="${notice.notice_content}"></td>
								<td>
									<a th:href="@{/admin_notice_view/{id}(id=${notice.notice_id})}">
										<button>
											보기
										</button>
									</a>
								</td>
							</tr>
						</table>
						<div class="mem_paging_wrap">
							<table class="mem_paging">
								<tr>
									<td> << </td>
									<td> 1 </td>
									<td> 2 </td>
									<td> 3 </td>
									<td> 4 </td>
									<td> >> </td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<!--		2 자주 찾는 질문 -->
				<div class="admin_half_area">

					<h1 class="blue">자주 찾는 질문</h1>

					<!--  	  검색창 영역 -->
					<div class="search">
						<button onclick="location='admin_faq_write'">FAQ 작성</button>
						<input type="text" class="searchTerm" placeholder="제목or내용">
						<div class="searchButton"><img class="search_img" src="/img/admin/search.png"></div>
					</div>
					<!--		검색창 영역 끝 -->


					<div class="notice_container">
						<table class="notice_table">
							<tr>
								<th style="width: 30%">제목</th>
								<th style="width: 30%">내용</th>
								<th style="width: 5%"></th>
							</tr>
							<tr>
								<td>레몬 한 개에는 비타민이 얼마나 있나요?</td>
								<td>레몬 한 개에는 무려 레몬 한 개분의 비타민이 들어있습니다!</td>
								<td><button>관리</button></td>
							</tr>
						</table>
						<div class="mem_paging_wrap">
							<table class="mem_paging">
								<tr>
									<td> << </td>
									<td> 1 </td>
									<td> 2 </td>
									<td> 3 </td>
									<td> 4 </td>
									<td> >> </td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!--   푸터 -->
			<nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer}"></nav>

		</section>
	</main>

</body>
</html>