
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>문의글 보기</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/moon.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/adminFooter.css}">
</head>
<body>
	
	<main>

		<!--   헤더 -->
		<nav th:replace="~{/adminad/fragment/admin_header :: admin_header4}"></nav>
  	
  	<section class="content">
		<div class="admin_one_area">

			<div class="moonBtn>">
				<h1 class="blue">문의글 보기</h1>
			</div>

			<div class="mem_container">
				<table class="moon_q_table">
					<tr>
						<td>작성자 : <span th:text="${moon.moonUserId}"></span></td>
						<td><span th:utext="${moon.moonRole == '1' ? '고객' : '기사'}"></span></td>
					</tr>
					<tr>
						<td th:utext="${moon.moonType=='1' ? '문의' : '신고'}" th:class="${moon.moonType=='1' ? 'moon_blue' : 'moon_red'}"></td>
						<td>문의상태 : <span th:text="${moon.moonStatus == '1' ? '대기' : '완료'}"></span></td>
					</tr>
					<tr>
						<td>문의시간</td>
						<td><span th:text="${#temporals.format(moon.moonQuestionDate, 'yyyy-MM-dd (HH:mm)')}"></span></td>
					</tr>
					<tr>
						<td colspan="2">
							제목 [ <span th:text="${moon.moonTitle}"></span> ]
						</td>
					</tr>
					<tr>
						<th colspan="2"> 문의사항 </th>
					</tr>
					<tr>
						<td colspan="2" class="x">
							<span th:text="${moon.moonQuestion}"></span>
							<span th:if="${moon.filePath != null}">
								<img th:src="@{'http://localhost:9000' + ${moon.filePath}}" alt="Item image" class="moon_q_img" onclick="openImagePopup(this.src)">
							</span>
						</td>
					</tr>
					<!-- 답변이 있을때만 나옴 -->
					<tr th:if="${moon.moonAnswer != null}">
						<th colspan="2"> 답변 </th>
					</tr>
					<tr th:if="${moon.moonAnswer != null}">
						<th colspan="2" class="x" id="xx"><span th:text="${moon.moonAnswer}"></span></th>
					</tr>
					<tr>
						<th colspan="2">
							<span th:if="${moon.moonStatus == '1'}">
								<button type="button" th:onclick="'openAnswerPopup(\'' + ${moon.moonPkId} + '\', ' + (${moons.number} + 1) + ')'">답변작성</button> &nbsp;&nbsp;&nbsp;
							</span>
							<button type="button" onclick="goToMoonMain()">목록으로</button>
						</th>
					</tr>
				</table>
			</div>
		</div>

		<!--   푸터 -->
		<nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer(moons=${moons})}"></nav>

  	</section>
	</main>
</body>
</html>
<script type="text/javascript">
<!--	이미지 원본 보기 (팝업) -->
	function openImagePopup(imageUrl) {
		var popupWindow = window.open(imageUrl, 'Image Popup', 'width=800, height=600');
		popupWindow.focus();
	}
	// 답변 작성 폼 띄우기 (팝업)
	function openAnswerPopup(moonPkId,currentPage) {
		var answerUrl = '/admin_moon_answer/' + moonPkId + '?page=' + currentPage;

		var answerPopup = window.open(answerUrl, 'Answer Popup', 'width=800, height=550');
		answerPopup.focus();
	}
function goToMoonMain() {
	// 현재 URL에서 쿼리 문자열을 가져오기
	var queryString = window.location.search;

	// URL에서 'page' 파라미터 값 가져오기
	var pageParam = new URLSearchParams(queryString).get('page');

	// 'page' 값이 있다면 목록으로 이동
	if (pageParam !== null) {
		window.location.href = '/admin_moon?page=' + pageParam;
	} else {
		// 'page' 값이 없다면 기본적으로 1페이지로 이동
		window.location.href = '/admin_moon?page=1';
	}
}
</script>