<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<header style="font-size: 50px;">
    <div th:include="/list/layout/nav"></div>
</header>
<table>
    <tr>
        <th>id</th>
        <td th:text="${community.id}"></td>
    </tr>
    <tr>
        <th>title</th>
        <td th:text="${community.commuTitle}"></td>
    </tr>
    <tr>
        <th>writer</th>
        <td th:text="${community.commuWriter}"></td>
    </tr>
    <tr>
        <th>date</th>
        <td th:text="${community.commuCreatedTime}"></td>
    </tr>
    <tr>
        <th>hits</th>
        <td th:text="${community.commuHits}"></td>
    </tr>
    <tr>
        <th>contents</th>
        <td th:text="${community.commuContents}"></td>
    </tr>
    <tr th:if="${community.fileAttached == 1}">
        <th>image</th>
        <td th:each="fileName: ${community.storedFileName}">
            <img th:src="@{|/upload/${fileName}|}" alt="">
        </td>
    </tr>
</table>
<button onclick="listReq()" >목록</button>
<button onclick="updateReq()" sec:authorize="isAuthenticated()">수정</button>
<button onclick="deleteReq()" sec:authorize="isAuthenticated()">삭제</button>

<!--댓글 작성 부분-->
<div id="comment_write">
    <input type="text" id="commentWriter" placeholder="작성자">
    <input type="text" id="commentContents" placeholder="내용">
     <button id="comment_write_btn" onclick="commentWrite()" sec:authorize="isAuthenticated()">작성</button>
</div>

<!--댓글 출력 부분-->
<div id="comment_list">
    <table>
        <tbody>
            <tr>
                <th>No.</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성시간</th>
            </tr>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
<!--                <td th:text="${comment.commentCreatedTime}"></td>-->
                <td th:text="*{#temporals.format(comment.commentCreatedTime, 'yyyy-MM-dd')}"></td>
            </tr>
        </tbody>
    </table>
</div>


</body>
<footer>
    <div th:include="/list/layout/footer"></div>
</footer>


<script th:inline="javascript">
    const commentWrite = () => {
        const  writer = document.getElementById("commentWriter").value;
        const  contents = document.getElementById("commentContents").value;
        console.log("작성자: " +writer);
        console.log("내용: " +contents);
        const id = [[${community.id}]]; // 게시글 번호
        $.ajax({
            //요청방식: post, 요청주소: /comment/save, 요청데이터: 작성자, 작성내용,  게시글번호
            type : "post",
            url : "/comment/save",
            data : {
                "commentWriter": writer,
                "commentContents": contents,
                "boardId": id
            },
            success: function (res){
                console.log("요청성공", res);
                let output = "<table>";
                output += "<tr><th>댓글번호</th>";
                output += "<th>작성자</th>";
                output += "<th>내용</th>";
                output += "<th>작성시간</th></tr>";
                for (let i in res) {
                    output += "<tr>";
                    output += "<td>" -+ res[i].id + "</td>";
                    output += "<td>" + res[i].commentWriter + "</td>";
                    output += "<td>" + res[i].commentContents + "</td>";
                    output += "<td>" + res[i].commentCreatedTime + "</td>";
                    output += "</tr>";
                }
                output += "</table>";
                document.getElementById('comment_list').innerHTML = output;
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContents').value = '';
            },
            error: function (err){
                console.log("요청 실패", err);
            }

        });
    }


    const listReq = () => {
        console.log("목록 돌아가기");
        location.href = "/board/Community_list";
    }
    const updateReq = () => {
        console.log("수정하기");
        const id = [[${community.id}]];

        location.href = "/board/Update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제하기");
        const id = [[${community.id}]];
        if (!confirm('게시글을 삭제하시겠습니까?')){
            return false;
        }

        location.href = "/board/delete/"+id;
    }
</script>
</html>