@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

hr{
/* 	margin: 10px auto; */
/*	margin: 50px 0px;*/
	width: 100%;
	border: 1px dotted #dddddd;
}

nav {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.dasuri{
	margin: 0 auto;
    cursor: pointer;
}

nav ul,
nav ul li {
  outline: 0;
}

nav ul li a {
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  /*max-height: 100vh;*/
  max-height: 90%;
  background-color: #4148C1;
/*   background-image: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/5baf8325-ed69-40b0-b9d2-d8c5d2bde3b0); */
  background-repeat: no-repeat;
  background-size: cover;
	/* background: #212140; */
}

/* MAIN MENU */

main {
  display: grid;
  grid-template-columns: 13% 87%;
  width: 100%;
  height: 800px;
  overflow-y: auto;
  margin: 40px;
  background: rgb(254, 254, 254);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  z-index: 10;
}

.main-menu {
  overflow: hidden;
  background: #6192FA;
  padding-top: 100px;
  border-radius: 15px 0 0 15px;
  font-family: "Roboto", sans-serif;
}

.main-menu ul {
  padding-bottom: 100px;
}

.main-menu h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 30px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.logo {
  /*display: ;*/
}

.nav-item {
  position: relative;
  display: block;
  padding: 15px 0;
}

.nav-item a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  margin-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-item b:nth-child(1) {
  position: absolute;
  top: -15px;
  height: 15px;
  width: 100%;
  background: #fff;
  display: none;
}

.nav-item b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background: #6192FA;
}

.nav-item b:nth-child(2) {
  position: absolute;
  bottom: -15px;
  height: 15px;
  width: 100%;
  background: #fff;
  display: none;
}

.nav-item b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background: #6192FA;
}

.nav-item.active b:nth-child(1),
.nav-item.active b:nth-child(2) {
  display: block;
}

.nav-item.active a {
  text-decoration: none;
  color: #000;
  background: rgb(254, 254, 254);
  width: 110%;
  height: 130%;
  margin: -10px;
}

.nav-icon {
  width: 60px;
  height: 20px;
  font-size: 20px;
  text-align: center;
}

.nav-text {
  width: 120px;
  height: 20px;
  margin: 7px;
}

/* CONTENT */

.content {
  display: grid;
  grid-template-columns: 75% 25%;
}
.half_content{
  display: grid;
  grid-template-rows: 50% 50%;

}
/* LEFT CONTENT */

.left-content {
  display: grid;
  /*overflow: scroll;*/
  height: 800px;
   grid-template-rows: 50% 50%;
  background: #f6f7fb;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
}

/*회원 관리 영역*/

.admin_one_area {
  /*display: grid;*/
  height: 770px;
  background: #f6f7fb;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
}

/*공지 / faq 영역 (절반)*/
.admin_half_area {
  height: 300px;
  background: #f6f7fb;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
}


.blue{
	color:#4148C1;
    /*text-align: center;*/
}

/* ACTIVITIES */

.activities h1 {
  margin: 20px 5px 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

.admin_one_area h1 {
  margin: 20px 5px 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

.activity-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

/* .ttwwoo{ */
/* 	 display: flex; */
/* 	 justify-content: center; */
/*      flex-direction: row; */
/*      align-items: center; */
/* } */

.img-one {
  grid-area: 1 / 1 / 2 / 2;
}

.img-two {
  grid-area: 2 / 1 / 3 / 2;
}

.img-three {
/* 	position: relative; */
/*   display: inline-block; */
/*   float: left; */
  width: 47%;
  margin: 0 auto;
}

.img-four {
  grid-area: 1 / 4 / 2 / 5;
}

.img-five {
  grid-area: 1 / 5 / 2 / 6;
}

.img-six {
  display: block;
  grid-area: 2 / 4 / 3 / 6;
}

.image-container {
  position: relative;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 10px;
    display: grid;
  grid-template-rows: 300px;
  column-gap: 10px;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.image-container:hover {
  opacity: 100;
  background: linear-gradient(
    180deg,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    rgba(97,146,250,0.4)
  );
}

.overlay h3 {
/*   margin-top: 8px; */
  position:absolute;
  top: 10px;
  color: #6192FA;
  align-self: center;
}

.overlay p {
/*   margin-top: 8px; */
  position:absolute;
  bottom: 10px;
  color: black;
  align-self: center;
}

/* LEFT BOTTOM */

.left-bottom {
  display: grid;
  grid-template-columns: 55% 40%;
  gap: 40px;
}

/* WEEKLY SCHEDULE */

.weekly-schedule {
  display: flex;
  flex-direction: column;
}

.weekly-schedule h1 {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 700;
}

.calendar {
  margin-top: 10px;
}

.day-and-activity {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 5px;
  color: #484d53;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.activity-one {
  background-color: rgb(124, 136, 224, 0.5);
  background-image: linear-gradient(
    240deg,
    rgb(124, 136, 224) 0%,
    #c3f4fc 100%
  );
}

.activity-two {
  background-color: #aee2a4a1;
  background-image: linear-gradient(240deg, #e5a243ab 0%, #f7f7aa 90%);
}

.activity-three {
  background-color: #ecfcc376;
  background-image: linear-gradient(240deg, #97e7d1 0%, #ecfcc3 100%);
}

.activity-four {
  background-color: #e6a7c3b5;
  background-image: linear-gradient(240deg, #fc8ebe 0%, #fce5c3 100%);
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-10px);
}

.day h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

.day p {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  transform: translateY(-3px);
}

.activity {
  border-left: 3px solid #484d53;
}

.participants {
  display: flex;
  margin-left: 20px;
}

.participants img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  z-index: calc(2 * var(--i));
  margin-left: -10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.activity h2 {
  margin-left: 10px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 12px;
}

.btn {
  display: block;
  padding: 8px 24px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  text-decoration: none;
  color: #484b57;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  cursor: pointer;
}

.btn,.circle_btn,.nav-text:hover,
.btn,.circle_btn,.nav-text:focus,
.btn,.circle_btn,.nav-text:active,
.btn,.circle_btn,.nav-text:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
  cursor: pointer;
}

/* .circle_btn:hover, */
/* ,.circle_btn:focus, */
/* .circle_btn:active, */
/* .circle_btn:visited { */
/*   transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8); */
/*   animation: gelatine 0.5s 1; */
/* } */

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* PERSONAL BESTS */

.personal-bests {
  display: block;
}

.personal-bests h1 {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 700;
}

.personal-bests-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 150px);
  gap: 10px;
  margin-top: 10px;
}

.best-item {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.box-one {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 3;
  background-color: yellowgreen;
  padding: 15px;
  font-size: 1rem;
  font-weight: 700;
}

.box-one img {
  max-width: 100px;
  aspect-ratio: 4/3;
}

.box-two {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px;
  grid-area: 2 / 1 / 3 / 2;
  background-color: yellowgreen;
}

.box-two img {
  max-width: 90px;
  aspect-ratio: 3/2;
  align-self: flex-end;
}

.box-three {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px;
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgba(184, 224, 192, 0.6);
}

.box-three img {
  max-width: 70px;
  aspect-ratio: 1/1;
  align-self: flex-end;
}

/* 푸터 (오른쪽 영역) */

.right-content {
  /*display: grid;*/
  grid-template-rows: 5% 20% 75%;
  background: #f6f7fb;
  margin: 15px 15px 15px 0;
  padding: 10px 0;
  border-radius: 15px;
  /*overflow: auto;*/
  height: 800px;
}

/* USER INFO */

.icon-container {
  display: flex;
  gap: 15px;
}

.user-info h4 {
  margin-left: 40px;
}

.user-info img {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

/* ACTIVE CALORIES  */

.active-calories {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(214, 227, 248);
  padding: 15px;
  margin: 15px 10px 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}
.calories-content table{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.t_1{
  color: palevioletred;
}
.t_2{
  color: yellowgreen;
}

.active-calories li::marker {
  color: #4148C1;
}

.active-calories-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.ch1{
  width: 45%;
  margin: 20px auto;
  margin-left: 40px;
  margin-bottom: 30px;
}

.ch1_t{
  margin: 20px auto;
  margin-right: 40px;
  margin-bottom: 30px;
}
.ch1_t ul li{
  list-style-type: none;
  margin: 20px 0px;
}

.ch2{
  width: 85%;
  margin: 10px auto;
  margin-bottom: 20px;
}

/* MOBILE PERSONAL BESTS  */

.mobile-personal-bests {
  display: none;
}

/* FRIEND ACTIVITIES  */

.friends-activity {
  display: flex;
  flex-direction: column;
}

.friends-activity h1 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 15px 0 10px 15px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.card {
  background-color: #fff;
  margin: 0 10px;
  padding: 5px 7px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

  .card table tr td{
    max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
}

.card-two {
  display: block;
}

.card-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}

.card-user-info img {
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.card-user-info h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-left: 5px;
}

.card-img {
  display: block;
  width: 100%;
  aspect-ratio: 7/4;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 10px;
  object-position: 50% 30%;
}

.card table {
	margin-left: 10px;
  font-size: 0.9em;
  padding: 10px;
}

.circle_btn {
 height: 15px;
 width: 15px;
 border-radius: 50%;
}

.card table tr td,th {
  padding: 0 10px;
}

@media (max-width: 1500px) {
  main {
    grid-template-columns: 6% 94%;
  }

  .main-menu h1 {
    display: none;
  }

  .logo {
/*     display: visible; */
    display: block;
    width: 30px;
    margin: 20px auto;
  }

  .nav-text {
    display: none;
  }

  .content {
    grid-template-columns: 70% 30%;
  }
}

@media (max-width: 1310px) {
  main {
    grid-template-columns: 8% 92%;
    margin: 30px;
  }

  .content {
    grid-template-columns: 65% 35%;
  }

  .day-and-activity {
    margin-bottom: 10px;
  }

  .btn {
    padding: 8px 16px;
    margin: 10px 0;
    margin-right: 10px;
    font-size: 1rem;
  }

  .personal-bests-container {
    grid-template-rows: repeat(3, 98px);
    gap: 15px;
  }

  .box-one {
    flex-direction: row;
    justify-content: space-between;
    grid-area: 1 / 1 / 2 / 3;
    padding: 10px;
    font-size: 0.9rem;
  }

  .box-one img {
    max-width: 80px;
  }

  .box-two {
    flex-direction: row;
    justify-content: space-between;
    grid-area: 2 / 1 / 3 / 3;
  }

  .box-two img {
    max-width: 70px;
    align-self: center;
  }

  .box-three {
    flex-direction: row;
    justify-content: space-between;
    grid-area: 3 / 1 / 4 / 3;
  }

  .box-three img {
    max-width: 60px;
    align-self: center;
  }
	
	.right-content {
		grid-template-rows: 4% 20% 76%;
		margin: 15px 15px 15px 0;
	}
}

@media (max-width: 1150px) {
  .content {
    grid-template-columns: 60% 40%;
  }

  .left-content {
    grid-template-rows: 50% 50%;
    margin: 15px;
    padding: 20px;
    overflow: auto;
  }

  .btn {
    padding: 8px 8px;
    font-size: 0.9rem;
  }

  .personal-bests-container {
		grid-template-rows: repeat(3, 70px);
    gap: 10px;
  }

  .activity-container {
  	flex-direction: row;
  }

  .img-one {
    grid-area: 1 / 1 / 2 / 2;
  }

  .img-two {
    grid-area: 2 / 1 / 3 / 2;
  }

/*   .img-three { */
/*     grid-area: 2 / 1 / 3 / 2; */
/*   } */

  .img-four {
    grid-area: 1 / 2 / 2 / 3;
  }

  .img-five {
    grid-area: 1 / 3 / 2 / 4;
  }

  .img-six {
    grid-area: 2 / 2 / 3 / 4;
  }

  .left-bottom {
    grid-template-columns: 100%;
    gap: 0;
  }

  .right-content {
    grid-template-rows: 4% 19% 36% 41%;
  }

  .personal-bests {
    display: none;
  }

  .mobile-personal-bests {
    display: block;
    margin: 0 10px;
  }

  .mobile-personal-bests h1 {
    margin-top: 20px;
    font-size: 1.2rem;
  }

  .card-two {
    display: none;
  }

  .card-img {
    aspect-ratio: 16/9;
  }
}

@media (max-width: 1050px) {
	 .right-content {
      grid-template-rows: 4% 19% 37% 40%;
  }
}

@media (max-width: 910px) {
  main {
    grid-template-columns: 10% 90%;
    margin: 20px;
  }

  .content {
    grid-template-columns: 55% 45%;
  }

  .left-content {
    grid-template-rows: 50% 50%;
    padding: 30px 20px 20px;
  }

  .activity-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
  }

  .img-one {
    grid-area: 1 / 1 / 2 / 2;
  }

  .img-two {
    grid-area: 2 / 1 / 3 / 2;
  }

/*   .img-three { */
/*     display: none; */
/*   } */

  .img-four {
    grid-area: 1 / 2 / 2 / 3;
  }

  .img-five {
    grid-area: 2 / 2 / 3 / 3;
  }

  .img-six {
    display: none;
  }
}

@media (max-width: 800px) {
  .content {
    grid-template-columns: 52% 48%;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 15% 85%;
  }

  .content {
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    grid-template-areas:
      "rightContent"
      "leftContent";
  }

  .left-content {
    grid-area: leftContent;
		grid-template-rows: 45% 55%;
    padding: 10px 20px 10px;
  }

  .right-content {
    grid-area: rightContent;
		grid-template-rows: 5% 40% 50%;
    margin: 15px 15px 0 15px;
    padding: 10px 0 0;
    gap: 15px;
  }

  .user-info{
    width: 100%;
  }
  .user-info h4{
    display: inline-block;
  }
  .user-info a{
    display: inline-block;
    float: right;
  }

  .activities,
  .weekly-schedule {
    margin-top: 10px;
  }

  .active-calories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .mem_type_container{
    width: 100%;
  }

  .friends-activity {
    display: none;
  }
}


/* 검색창 */
.search {
  width: 300px;
  height: 40px;
  display: flex;
  position: relative;
  float: right;
  margin-bottom: 20px;
  left: 30px;
  overflow: clip;
}
.searchTerm {
  display: inline-block;
  width: 150px;
  border: 3px solid #6192FA;
  border-right: none;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  text-overflow:ellipsis;
  padding: 10px;
}

.searchTerm:focus{
  color: #6192FA;
}

.searchButton {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #6192FA;
  background: #6192FA;
  border-radius: 0 5px 5px 0;
  text-align: center;
  cursor: pointer;
}
.search_img{
  width: 60%;
  margin-top: 5px;
}

.mem_table{
  width: 100%;
  border-collapse: collapse;
}
.mem_table th,.mem_table td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #6192FA;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mem_container {
  clear: both;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  align-items: center;
  background: white;
  height: 500px;
}
.mem_paging_wrap{
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.mem_paging{
  margin: 0 auto;
}
.mem_paging td{
  border: none;
}

.moon_view_bottom{
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.notice_container {
  clear: both;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  align-items: center;
  background: white;
  height: 300px;
}

.notice_table{
  width: 100%;
  border-collapse: collapse;
}
.notice_table tr td:hover {
  color: #6192FA;
  text-decoration: underline;
  cursor: pointer;
}
.notice_table tr td span {
  background: yellow;
}
.notice_table tr th span {
  background: yellow;
}

.notice_table th,.mem_table td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #6192FA;
  text-overflow: ellipsis;
  overflow: hidden;
}
.yellow span{
  background: yellow;
}
.mem_top{
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.mem_type_btn{
  width: 100px;
  height: 50px;
  background: #6192FA;
  border-radius: 10px;
}
/* 검색창(회원관리) */
.search_mem {
  width: 300px;
  height: 40px;
  display: flex;
  position: relative;
  right: 0px;
  margin-bottom: 20px;
  overflow: clip;
}