h1, h2, h3, h4, h5, h6 {
    color: #ff008b;
}
section {
    padding: 60px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.faq {
    padding: 120px 0 90px;
    background: #f7fbff;
    min-height: 100vh;
}

.section-title {
    text-align: center;
    margin-bottom: 54px;
}

.section-title h2 {
    margin-top: 20px;
    margin-bottom: 22px;
}

.faq .accordion .card {
    border: none;
    margin-bottom: 30px;
}

.faq .accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 10px;
}

.faq .accordion .card .card-header {
    border: none;
    border-radius: 10px;
    padding: 0;
}

.faq .accordion .card .card-header h5 {
    padding: 0;
}

.faq .accordion .card .card-header h5 button {
    color: #1e3056;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 30px 0 70px;
    height: 80px;
    display: block;
    width: 100%;
    color: rgba(30, 48, 86, 0.8);
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
    box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
    border-radius: 10px 10px 0 0;
    position: relative;
}

.faq .accordion .card .card-header h5 button:after {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: purple;
    text-align: center;
    border: 1px solid purple;
    border-radius: 50%;
    line-height: 100%;
    content: '\f067';
    font-size: 10px;
    line-height: 18px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.faq .accordion .card .card-header h5 button.collapsed {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(97, 125, 255, 0.2);
}

.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
    content: '\f068';
    color: #fff;
    background-image: -webkit-linear-gradient(-180deg, #5e7eff 0%, #ff5f74 30%, #a85fff 100%);
}

.faq .accordion .card .card-body {
    -webkit-box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
    box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
    border-radius: 0 0 10px 10px;
    padding-top: 0;
    margin-top: -6px;
    padding-left: 72px;
    padding-right: 70px;
    padding-bottom: 23px;
    color: rgba(30, 48, 86, 0.8);
    line-height: 30px;
}

*{
    box-sizing:border-box;
    line-height:1;
    list-style:none;
    padding:0;
    margin:0;
    text-decoration:none;
    letter-spacing:-0.05em;
  }
  
  html{height:100%;}
  /* body{background:linear-gradient(45deg, #a29bfe, #fd79a8); display:flex; align-items:center; justify-content:center; height:100%;} */
  
  .wrap{padding:30px; width:100%; margin:0 auto; background:#fff; border-radius:20px; box-shadow:5px 5px 10px rgba(0,0,0,0.3);}
  
  .board-title{margin:0 0 10px; border-bottom:1px solid #ddd; padding:0 0 10px; display:flex; align-items:center; justify-content:space-between;}
  .board-title .title{font-size:20px; color:#111; font-weight:600; }
  .board-link{width:25px; height:25px; border-radius:100%; display:flex; align-items:center; justify-content:center; font-size:0; position:relative; background:#636e72;}
  .board-link::before,
  .board-link::after{content:''; display:block; width:12px; height:2px; background:#fff; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
  .board-link::after{transform:translate(-50%, -50%) rotate(90deg)}
  
  
  .board-list{margin:0 0 20px; width:100%;}
  .board-list li{border-bottom:1px solid #ddd;}
  .board-list li:not(:last-child){margin-bottom:10px;}
  .board-list li a{font-size:16px; color:#111; display:flex; align-items:center; justify-content:space-between; padding:5px 0;}
  .board-list li a .subject{flex:1; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-right:10px; line-height:1.4;}
  .board-list li a .date{font-size:14px; color:#999;}
  .board-list li a::before{content:''; display:block; width:6px; height:6px; background:#111; border-radius:100%; margin-right:10px;}
  .board-list li a:hover{text-decoration:none;}
  .board-list li a:hover .subject{text-decoration:underline; text-underline-position:under;}
  
  .board-pager{display:flex; justify-content:center; align-items:center;}
  .board-pager button{border:0; background:none; font-size:0; overflow:hidden; display:flex; align-items:center; cursor:pointer; width:25px; height:25px; border-radius:100%; border:1px solid #ddd; justify-content:center; align-items:center; transition:all .5s;}
  .board-pager button::before{font-size:14px;}
  .board-pager button:hover{background:#636e72; color:#fff; border-color:#636e72;}
  .board-pager button.first::before{content:'<<';}
  .board-pager button.prev::before{content:'<';}
  .board-pager button.next::before{content:'>';}
  .board-pager button.last::before{content:'>>';}
  .board-pager button.first{margin-right:10px;}
  .board-pager button.prev{margin-right:20px;}
  .board-pager button.next{margin-left:20px;}
  .board-pager button.last{margin-left:10px;}
  .board-pager a{color:#000;}
  .board-pager a:not(:last-of-type){margin-right:10px;}
  .board-pager a.active{text-decoration:underline; font-weight:600;}