.containers{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.center_containers{
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
}

/*고객센터 버튼 2개 영역*/
.center_main_container{
    position: relative;
    width: 80%;
    /*display: grid;*/
    /*grid-template-columns: 50% 50%;*/
    height: 300px;
    display: block;
    color: rgba(30, 48, 86, 0.8);
    background: linear-gradient(45deg, #4148C1, #88aeff);
    box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
    border-radius: 20px;
    position: relative;
    margin: 10px auto;
}
.center_main_container img{
    position: absolute;
    display: inline;
    width: 40%;
    margin: 10px;
    top: 5px;
    left: 5px;
}

.center_main_container:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.pbox{
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    float: right;
}

p{
    text-align: right;
    display: block;
    font-size: 400%;
    font-weight: 700;
    color: white;
    text-decoration: none;
    margin: 10px;
}
.big{
    font-size: 700%;
}
.small{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 150%;
}
.medium{
    font-size: 300%;
}

.center_loc{
    width: 250px;
    height: 100px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}
.center_loc *{
    font-size: 0.8em;
    text-decoration: none;
}
.center_title{
    clear: both;
    width: 100%;
    align-items: center;
    color: #4148C1;
    text-align: center;
}
.center_title h4{
    display: inline;
}
.red{
    color: #E9111E;
}
.red a{
    color: #E9111E;
}
.yellow span{
    background: yellow;
}
.hr{
    width: 50%;
    margin: 5px auto;
    border: 2px solid #4148C1;
}
.faq_search {
    width: 40%;
    height: 40px;
    display: flex;
    /*position: relative;*/
    margin: 20px auto;
    margin-bottom: 10px;
    left: 30px;
    overflow: clip;
}
.faq_searchTerm {
    display: inline-block;
    width: 100%;
    border: 3px solid #4148C1;
    border-right: none;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    text-overflow:ellipsis;
    margin: 0 auto;
    padding: 10px;
}

.faq_searchTerm:focus{
    color: #4148C1;
}
.faq_searchButton {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #4148C1;
    background: #4148C1;
    border-radius: 0 5px 5px 0;
    text-align: center;
    cursor: pointer;
}
.faq_search_img{
    width: 60%;
    margin-top: 5px;
}

.moon_write_form{
    margin: 0 auto;
    width: 60%;
    height: 500px;
    padding: 15px;
}
button{
    background: #6192FA;
    border: none;
    margin: 0 auto;
}
.tag{

}

