.moon_table{
    width: 100%;
    height: 90%;
    margin-bottom: 50px;
    overflow: scroll;
    border-collapse: collapse;
}
.moon_table th,.moon_table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #6192FA;
    text-overflow: ellipsis;
    overflow: hidden;
}
.gomoonq{cursor: pointer;}
.gomoonq:hover{background: #eeeeee}

.moon_table tr td:nth-child(2){width: 10%;}
.moon_table tr td:nth-child(3){width: 10%;}
.moon_table tr td:nth-child(4){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.moon_table tr td:nth-child(5){width: 15%;font-size: 0.7em;color: gray}
.moon_table tr td:nth-child(6){width: 10%;}
.center_title span{
    color: firebrick;
}

.center_title .normal_span{
    color: #4148C1;
}
.file_p{
    font-size: 0.8em;
    text-align: center;
    color: #4148C1;
}
.moon_q_table{
    width: 100%;
    height: 90%;
    margin-bottom: 30px;
    overflow: scroll;
    border-collapse: collapse;
}
.moon_q_table th,.moon_q_table td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #6192FA;
    text-overflow: ellipsis;
    overflow: hidden;
}
.moon_q_table tr td span{
    color: #4148C1;
    font-weight: 700;
}
.moon_q_table tr:nth-child(6) td{
    background: #efefef;
    padding: 30px;
}

.moon_q_table tr:last-child th{
    padding: 30px;
    border-bottom: none;
}
#qspan{
    color: black;
    font-weight: 500;
}
.moon_q_img{
    cursor: pointer;
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin: 10px auto;
}
.moon_q_img:hover{
    border: 3px solid blue;
}
.moon_answer_container {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    border-radius: 10px;
    padding: 15px;
    align-items: center;
    background: white;
}
.moon_answer_container h1 {
    color: #4148C1;
}
.moon_answer_container textarea {
    display: block;
    margin: 0 auto;
    border: 2px solid #4148C1;
}
.input{
    display: flex;
    align-items: center;
    margin: 20px auto;
}
.input input{
    margin: 10px auto;
}
.x span {
    white-space: pre-line;
}
#xx{
    background: #efefef;
    padding: 30px;
}