
.notice_area{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.notice_table_area{
    width: 80%;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.notice_table_area button{
    margin: 0 auto;
    margin-top: 40px;
}
.notice_table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin: 0 auto;
}
.notice_table tr {
    border-bottom: 1px solid #bbbbbb;
}
.notice_table th {
    height: 70px;
    border-top: 1px solid black;
    background: #eeeeee;
    font-weight: 600;
    padding: 10px;
}
.notice_table th:nth-child(1) {
    color: #6192FA;
}
.notice_table th:nth-child(3) {
    padding: 5px;
    color: gray;
    font-size: 0.8em;
}
.notice_table td{
    min-height: 400px;
    height: 60px;
    text-align: center;
    padding: 20px;
}
.notice_table td:nth-child(1){
    width: 10%;
}
.notice_table td:nth-child(2):hover{
    color: #4148C1;
    text-decoration: underline;
    cursor: pointer;
}
.notice_table td:nth-child(3){
    width: 20%;
}
.notice_img{
    max-height: 500px;
    max-width: 800px ;
}
.notice_content{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}
.notice_content p{
    text-decoration: none;
    font-size: 1em;
}
.notice_content *{
    text-align: center;
    color: #45413E;
}
.notice_content strong{
    text-decoration: none;
    font-size: 1em;
    color: firebrick;
}