body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.profile-pic-container {
    position: relative;
    width: 150px; /* 이미지 컨테이너의 너비 */
    height: 150px; /* 이미지 컨테이너의 높이 */
    margin: auto;
    border-radius: 50%; /* 컨테이너의 원형 경계 */
    overflow: hidden; /* 넘치는 부분을 숨김 */
    /* 기타 필요한 스타일 */
}

.profile-pic-container img {
    width: 100%; /* 이미지를 컨테이너의 너비에 맞게 조정 */
    height: auto; /* 이미지의 높이를 자연스러운 비율로 유지 */
    /* border-radius를 적용하지 않음 */
}

.profile-pic-container i.fa-camera {
    position: absolute;
    bottom: 0; /* 하단에서 0의 위치 */
    left: 50%; /* 좌우 중심 */
    transform: translate(-50%, 0); /* 아이콘의 가로 중심을 기준점으로 설정하고, 세로 위치는 변경하지 않음 */
    /*background-color: #fff; !* 아이콘 배경색 *!*/
    color: #333; /* 아이콘 색상 */
    padding: 10px;
    border-radius: 50%; /* 아이콘의 원형 경계 */
    cursor: pointer;
}

/* 파일 입력 필드를 숨기기 */
input[type="file"] {
    display: none;
}

/* 필요한 경우 추가 스타일링 */
.file-label {
    position: absolute;
    bottom: 10px; /* 아이콘 위치 조정 */
    right: 10px;
    background-color: transparent; /* 라벨 배경 투명하게 */
    cursor: pointer;
}


.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    /*min-height:670px;*/
    min-height:1500px;
    position:relative;
    /*background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;*/
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-form .group .check2{
    display:inline-block;
    margin-right:10px ;
}
/* 체크박스가 선택되었을 때 라벨의 글자색 변경 */
input[type="checkbox"].check2:checked + label {
    color: #ffffff; /* 흰색으로 변경 */
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#1161ee;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}

.input-row {
    display: flex;
}

.input-row .group {
    flex: 1; /* 두 그룹이 공간을 동일하게 차지하도록 설정 */
    padding: 0 0px; /* 필요에 따라 양옆의 패딩 조정 */
}


#duplicateMessage {
    margin-top: 3px;
    color: #ff0909;
    font-weight: bold;
    font-size: 0.8em;
}

#error-Message {
    /*'color': '#ff0909', 'font-weight': 'bold', 'font-size': '0.8em'});*/
    color: #ff0909;
    font-weight: bold;
    font-size: 0.8em;
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}

input[readonly] {
    color: #808080 !important; /* 이 값은 회색의 한 예시입니다. 원하는 색상 코드로 변경하세요. */
}