<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProMyPage</title>
</head>
<body>
<header style="font-size: 50px;">
    <div th:include="/list/layout/nav"></div>
</header>
<!--엿이나 무라~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<li><td th:text="${promodify.proName}"></td></li>
<li><td th:text="${promodify.proLegions}"></td></li>
<li>업채명: <td th:text="${promodify.proNickname}"></td></li>

<footer>
    <div th:include="/list/layout/footer"></div>
</footer>
</body>
</html>