<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/my_profile.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/my_profile.js"></script>
    <title>Pro My Page</title>
</head>
<body>
<div id="app">
    <div id="profile">
<!--        <img id="profileImage" src="/img/login/default-profile.png" alt="Profile Picture">-->
                <img id="profileImage" th:src="@{'/pro_files/' + ${propf.filename}}" alt="Profile Picture">
<!--        <h2 id="nickname">Nickname</h2>-->
        <h2 id="nickname" th:text="${propf.proName}"></h2>
        <div id="buttons">
<!--            <div class="button" id="editprofile" onclick="loadContent('EditProfile')"><a href="/promypage">기사 정보 수정</a></div>-->
<!--            <form id="view_propage" th:action="@{/propage}" method="post">-->
            <form id="view_propage" th:action="@{/propage}" method="post">
                <input type="hidden" id="proId" name="proId" value="" />

                <div class="button" id="editprofile" onclick="submitForm('${propf.proId}')">
                    회원 정보 수정
                </div>
            </form>
            <div class="button" id="inquiries" onclick="loadContent('Inquiries')">문의 내역</div>
            <div class="button" id="payments" onclick="loadContent('Payments')">결제 내역</div>
            <div class="button" id="withdraw" onclick="loadContent('Withdraw')">회원 탈퇴</div>
        </div>
    </div>
</div>

<script>
    // function submitForm(userId, action) {
    function submitForm(proId) {
        // 클릭된 값 저장
        document.getElementById('proId').value = proId;

        // 폼 action 변경
        // document.getElementById('view_userpage').action = action;

        // 폼 제출
        document.getElementById('view_propage').submit();
    }
</script>

<script src="main.js"></script>
</body>
</html>
