.card-header1 h1{
    font-size: 30px;
    font-weight: 600;
}

.card-write{
    padding: 20px;
}
.card-write input, textarea{
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #e6e6e6;
}

.card-write .adminfo input[type="text"]{
    width: 25%;
    margin-right: 50px;
}

.card-write .adminfo input[type="password"]{
    width: 31%;
}

.card-write .title-w input[type="text"]{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85.5%;
}

.card-write .msg textarea{
    min-width: 85.5%;
    max-width: 85.5%;
    min-height: 200px;
    max-height: 200px;
    box-shadow: inset 3px 3px 10px #e6e6e6;
    
    
    /* vertical-align: top =텍스트 수직, 수평 정렬 할수있음 */
    vertical-align: top;
}

.card-write input[type="file"]{
    border: none;
    box-shadow: none;
    padding: 10px;
    margin-left: 40px;
}

.btn-w{
    position: absolute;
    right: 235px;
    bottom: 46%;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}

.btn-w a{
    background-color: purple;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}