@charset "UTF-8";



.container1 {
  margin: 0 auto;
  width: 100%;
  max-width: 60%;
  min-width: 60%;
  height: 1500px;
  border-radius: 15px;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

header {
  height: 200px;
  text-align: center;
}

h1 {
  /*margin-top: 40px;*/
  text-decoration: coral underline;
  text-underline-position: under;
  line-height: 100px;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.card1 {
  width: calc(25% - 30px);
  height: 355px;
  border-radius: 15px;
  background-color: white;
  margin: 15px;
  display: inline-block;
}

/*.card1 img {*/
/*  width: 50px;*/
/*  border-radius: 15px;*/
/*  display: block;*/
/*  margin: auto;*/
/*  !*margin-top: 10px;*!*/
/*  !*height: 180px;*!*/
/*}*/

p {
  line-height: 14px;
  margin: 15px;
  margin-top: -10px;
}

.footer1 {
  text-align: center;
  line-height: 50px;
}

@media (min-width: 1280px) {
  section { width: 1040px; height: 580px; }
}

@media (max-width: 1279px) {
  section { width: 780px; height: 870px; }
}

@media (max-width: 900px) {
  section { width: 520px; height: 1160px; }
}

@media (max-width: 600px) {
  section { width: 260px; height: 2320px; }
}

.card1 img {
  width: 220px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 180px;
}

@media (max-width: 1279px) {
  .card1 img {
    width: 180px;
    height: 150px;
  }
}

@media (max-width: 900px) {
  .card1 img {
    width: 140px;
    height: 120px;
  }
}

@media (max-width: 600px) {
  .card1 img {
    width: 100px;
    height: 80px;
  }
}

.height {
  height: 1000px;
}


/* 우측 따라다니는 메뉴*/
/*#floatRight {*/
/*position: absolute;*/
/*width: 250px;*/
/*right: 2%;*/
/*top: 600px;*/
/*z-index: index 9999;*/
/*}*/


