@charset "UTF-8";

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.registration-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
}

input[type="radio"] {
    margin: 8px 0;
}

.phone-verification {
    margin-top: 10px;
    margin-bottom: 10px;
}

.verification-btn {
    background-color: #6192FA;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.registration-btn {
    width: 100%;
    background-color: #6192FA;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.verification-btn:hover {
    background-color: #0056b3;
}

.registration-btn:hover {
    background-color: #0056b3;
}

.privacy_checkbox{
    padding-top: 5px;
    margin-bottom: 10px;
}

.link-container {

    margin-top: 10px;
    margin-bottom: 10px;

}

.link-container a {
    margin: 0 auto;
    text-decoration: none;
    font-size: small;
    color: #007bff;
}

.link-container a:hover {
    text-decoration: underline;
}

.privacy_checkbox{
    vertical-align: middle;
    font-size: small;
}