<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 헤더</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin.css}">

<title>관리자페이지 : 헤더</title>
  </head>
  <body>

      <nav th:fragment="admin_header1" class="main-menu">
      	<img class="dasuri" src="/img/logo_circle.png" width="50%">
        <h1>ADMIN</h1>
        <ul>
          <li class="nav-item active" onclick="location='a'">
            <a href="#">
              <i class="fa fa-house nav-icon"></i>
              <span class="nav-text">관리자 홈</span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_mem'">
            <b></b>
            <b></b>
            <a href="#" onclick="chch()">
              <i class="fa fa-user nav-icon"></i>
              <span class="nav-text">회원 관리</span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_notice'">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-calendar-check nav-icon"></i>
              <span class="nav-text"> 공지 관리 </span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_moon'">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-person-running nav-icon"></i>
              <span class="nav-text"> 고객센터 </span>
            </a>
          </li>

          <li class="nav-item">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-sliders nav-icon"></i>
              <span class="nav-text" onclick="location='index'"> 메인으로 </span>
            </a>
          </li>
        </ul>
      </nav>

      <nav th:fragment="admin_header2" class="main-menu">
      	<img class="dasuri" src="/img/logo_circle.png" width="50%">
        <h1>ADMIN</h1>
        <ul>
          <li class="nav-item" onclick="location='a'">
            <a href="#">
              <i class="fa fa-house nav-icon"></i>
              <span class="nav-text">관리자 홈</span>
            </a>
          </li>

          <li class="nav-item active" onclick="location='admin_mem'">
            <b></b>
            <b></b>
            <a href="#" onclick="chch()">
              <i class="fa fa-user nav-icon"></i>
              <span class="nav-text">회원 관리</span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_notice'">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-calendar-check nav-icon"></i>
              <span class="nav-text"> 공지 관리 </span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_moon'">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-person-running nav-icon"></i>
              <span class="nav-text"> 고객센터 </span>
            </a>
          </li>

          <li class="nav-item">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-sliders nav-icon"></i>
              <span class="nav-text" onclick="location='index'"> 메인으로 </span>
            </a>
          </li>
        </ul>
      </nav>

      <nav th:fragment="admin_header3" class="main-menu">
      	<img class="dasuri" src="/img/logo_circle.png" width="50%">
        <h1>ADMIN</h1>
        <ul>
          <li class="nav-item" onclick="location='a'">
            <a href="#">
              <i class="fa fa-house nav-icon"></i>
              <span class="nav-text">관리자 홈</span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_mem'">
            <b></b>
            <b></b>
            <a href="#" onclick="chch()">
              <i class="fa fa-user nav-icon"></i>
              <span class="nav-text">회원 관리</span>
            </a>
          </li>

          <li class="nav-item active" onclick="location='admin_notice'">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-calendar-check nav-icon"></i>
              <span class="nav-text"> 공지 관리 </span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_moon'">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-person-running nav-icon"></i>
              <span class="nav-text"> 고객센터 </span>
            </a>
          </li>

          <li class="nav-item">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-sliders nav-icon"></i>
              <span class="nav-text" onclick="location='index'"> 메인으로 </span>
            </a>
          </li>
        </ul>
      </nav>

      <nav th:fragment="admin_header4" class="main-menu">
      	<img class="dasuri" src="/img/logo_circle.png" width="50%">
        <h1>ADMIN</h1>
        <ul>
          <li class="nav-item" onclick="location='a'">
            <a href="#">
              <i class="fa fa-house nav-icon"></i>
              <span class="nav-text">관리자 홈</span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_mem'">
            <b></b>
            <b></b>
            <a href="#" onclick="chch()">
              <i class="fa fa-user nav-icon"></i>
              <span class="nav-text">회원 관리</span>
            </a>
          </li>

          <li class="nav-item" onclick="location='admin_notice'">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-calendar-check nav-icon"></i>
              <span class="nav-text"> 공지 관리 </span>
            </a>
          </li>

          <li class="nav-item active" onclick="location='admin_moon'">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-person-running nav-icon"></i>
              <span class="nav-text"> 고객센터 </span>
            </a>
          </li>

          <li class="nav-item">
            <b></b>
            <b></b>
            <a href="#">
              <i class="fa fa-sliders nav-icon"></i>
              <span class="nav-text" onclick="location='index'"> 메인으로 </span>
            </a>
          </li>
        </ul>
      </nav>

<script>

function chch(){
const navItems = document.querySelectorAll(".nav-item");
navItems.forEach((navItem, i) => {
  navItem.addEventListener("click", () => {
    navItems.forEach((item, j) => {
      item.className = "nav-item";
    });
    navItem.className = "nav-item active";
  });
});
};

</script>

  </body>
    </html>

    
    
    
    
    
    
    