<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<style>
    .itemregform{
        width: 800px;
        margin: auto;
        border: 3px;
        padding: 30px;
        border-radius: 15px;
        background-color: #fff;
    }
</style>
<body>
<!--헤더-->
<header style="font-size: 50px;">
    <div th:include="/list/layout/nav"></div>
</header>



<div class="itemregform">
<h5 class="my-3 border-bottom pb-2">상품등록</h5>
<form th:object="${shopForm}" method="post" enctype="multipart/form-data">
   <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

       <div th:each="err: ${#fields.allErrors()}" th:text="${err}"> </div>
   </div>
    <div class="mb-3">
    <label for="itemname" class="form-label">제품명 :</label><br>
    <input type="text" id="itemname" name="itemname"  class="form-control"><br>
    </div>
    <div class="mb-3">
    <label for="price">가격 : </label><br>
    <input type="text" id="price" name="price"  class="form-control"><br>
    </div>
     <div class="mb-3">
    <label for="seller">판매자 : </label><br>
    <input type="text" id="seller" name="seller"  class="form-control"><br>
      </div>
    <div class="mb-3">
        <label for="shortinfo">한줄소개 : </label><br>
        <input type="text" id="shortinfo" name="shortinfo"  class="form-control"><br>
    </div>
    <div class="mb-3">
        <label for="iteminfo">상품정보 : </label><br>
        <input type="text" id="iteminfo" name="iteminfo"  class="form-control"><br>
    </div>
    <div class="mb-3">
    <label for="deliveryinfo">배송정보 : </label><br>
    <input type="text" id="deliveryinfo" name="deliveryinfo"  class="form-control"><br>
            </div>
    <input type="file" id="file" name="file" accept="image/*">
    <input type="submit" value="등록하기" class="btn btn-primary my-2">
</form>
</div>




<!--푸터-->
<footer>
    <div th:include="/list/layout/footer"></div>
</footer>

</body>
</html>