<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 : 공지 보기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/center.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}">
</head>
<body>

<header style="font-size: 50px;">
    <div th:include="/list/layout/nav"></div>
</header>

<div class="center_loc">
    <a th:href="@{/index}"><img src="/img/admin/admin_home_bl.png" width="15px"> &nbsp; > &nbsp;</a>
    <a th:href="@{/notice_main}"> 공지사항 &nbsp; </a>
</div>

<div class="center_title">
    <h1>공지사항</h1>
    <h4>다수리 사이트의 주요 공지를 확인하세요.</h4>

    <!--  	  검색창 영역 -->
    <form th:action="@{/notice_search}" id="notice_search" method="get">
        <div class="faq_search">
            <input type="text" class="faq_searchTerm" name="notice_keyword" placeholder="제목 또는 내용으로 검색하세요.">
            <div class="faq_searchButton" onclick="submitSearch()"><img class="faq_search_img" src="/img/admin/search.png"></div>
        </div>
    </form>
    <!--		검색창 영역 끝 -->
</div>

<!--    공지 리스트 영역 -->
<div class="notice_area">
    <div class="notice_table_area">
        <table class="notice_table">
            <tr>
                <th th:text="${notice.notice_type}" width="10%"></th>
                <th th:text="${notice.noticeTitle}"></th>
                <th th:text="'수정일 : '+${notice.notice_updateDate}" width="20%"></th>
            </tr>
            <tr>
                <td colspan="3">
<!--                    <span class="notice_content" th:text="${notice.noticeContent}"></span>-->
<!--                    <span class="notice_content" th:utext="${#strings.replace(notice.noticeContent, '\n', '<br>')}"></span>-->
                    <span class="notice_content" th:utext="${notice.noticeContent}"></span>
                    <span th:if="${notice.filePath != null}">
                        <p class="notice_img_p">(클릭 시 원본 이미지를 확인하실 수 있습니다.)</p>
                        <img th:src="@{'http://localhost:9000' + ${notice.filePath}}" alt="Item image" class="notice_img" onclick="openImagePopup(this.src)">
                    </span>
                </td>
            </tr>
        </table>
        <button type="button" onclick="goToNoticeMain()">목록으로</button>
    </div>
</div>

<footer>
    <div th:include="/list/layout/footer"></div>
</footer>

</body>
<script>
    // 목록으로
    function goToNoticeMain() {
        // 현재 URL에서 쿼리 문자열을 가져오기
        var queryString = window.location.search;

        // URL에서 'page' 파라미터 값 가져오기
        var pageParam = new URLSearchParams(queryString).get('page');

        // 'page' 값이 있다면 목록으로 이동
        if (pageParam !== null) {
            window.location.href = '/notice_main?page=' + pageParam;
        } else {
            // 'page' 값이 없다면 기본적으로 1페이지로 이동
            window.location.href = '/notice_main?page=1';
        }
    }

    // 폼 제출 (검색)
    function submitSearch() {
        document.getElementById('notice_search').submit();
    }

    // 이미지 원본 보기 (팝업)
    function openImagePopup(imageUrl) {
        var popupWindow = window.open(imageUrl, 'Image Popup', 'width=800, height=600');
        popupWindow.focus();
    }
</script>