
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>공지글 보기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
</head>
<body>

<main>

    <!--   헤더 -->
    <nav th:replace="~{/adminad/fragment/admin_header :: admin_header3}"></nav>

    <section class="content">
        <div class="admin_one_area">

            <h1 class="blue">공지글 보기</h1>

            <div class="mem_container">
                <table class="mem_table">
                    <tr>
                        <th width="30%">제목</th>
                        <td th:text="${notice.notice_title}"></td>
                    </tr>
                    <tr>
                        <th width="30%">구분</th>
                        <td th:text="${notice.notice_type}"></td>
                    </tr>
                    <tr>
                        <th>작성일</th>
                        <td th:text="${notice.notice_firstDate}"></td>
                    </tr>
                    <tr>
                        <th>마지막 수정일</th>
                        <td th:text="${notice.notice_updateDate}"></td>
                    </tr>
                    <tr>
                        <th colspan="2">내용</th>
                    </tr>
                    <tr>
                        <td colspan="2" th:text="${notice.notice_content}"></td>
                    </tr>
                </table>

                <table class="moon_view_bottom">
                    <tr>
                        <th>
                            <form action="admin_notice_update" method="post">
                                <input type="hidden" name="notice_id" th:value="${notice.notice_id}"/>
                                <input type="hidden" name="notice_title" th:value="${notice.notice_title}"/>
                                <input type="hidden" name="notice_firstDate" th:value="${notice.notice_firstDate}"/>
                                <input type="hidden" name="notice_updateDate" th:value="${notice.notice_updateDate}"/>
                                <input type="hidden" name="notice_content" th:value="${notice.notice_content}"/>
                                <input type="submit" value="수정">
                            </form>
                        </th>
                        <th>
                            <form action="admin_notice_delete" method="post" onsubmit="return confirm('삭제하시겠습니까?');">
                                <input type="hidden" name="notice_id" th:value="${notice.notice_id}"/>
                                <input type="submit" value="삭제">
                            </form>
                        </th>
                        <th> <button type="button" onclick="location='/admin_notice'">목록으로</button> </th>
                    </tr>
                </table>

            </div>
        </div>

        <!--   푸터 -->
        <nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer}"></nav>

    </section>
</main>

</body>
</html>