<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지 : 고객관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
</head>
<body>

<main>

    <!--   헤더 -->
    <nav th:replace="~{/adminad/fragment/admin_header :: admin_header2}"></nav>

    <section class="content">
        <div class="admin_one_area">

            <h1 class="blue">회원 리스트</h1>

            <!--  	  검색창 영역 -->
            <div class="search">
                <input type="text" class="searchTerm" placeholder="아이디or이름">
                <div class="searchButton"><img class="search_img" src="/img/admin/search.png"></div>
            </div>
            <!--		검색창 영역 끝 -->

            <div class="mem_container">
                <table class="mem_table">
                    <tr>
                        <th style="width: 20%">아이디</th>
                        <th>이름</th>
                        <th style="width: 10%">정보</th>
                        <th style="width: 10%">유형</th> <!-- 기사/고객-->
                        <th style="width: 15%">지역</th>
                        <th style="width: 15%">변경</th>
                    </tr>
                    <tr>
                        <td>aaa55</td>
                        <td>권다정</td>
                        <td><button>조회</button></td>
                        <td>기사</td>
                        <td>금정구</td>
                        <td><button>차단/탈퇴</button></td>
                    </tr>
                    <tr>
                        <td>bbb11</td>
                        <td>홍길동</td>
                        <td><button>조회</button></td>
                        <td>기사</td>
                        <td>얼씨구</td>
                        <td><button>차단/탈퇴</button></td>
                    </tr>
                    <tr>
                        <td>rrr223</td>
                        <td>고길동</td>
                        <td><button>조회</button></td>
                        <td>고객</td>
                        <td>연희동</td>
                        <td><button>차단/탈퇴</button></td>
                    </tr>
                </table>
                <div class="mem_paging_wrap">
                    <table class="mem_paging">
                        <tr>
                            <td> << </td>
                            <td> 1 </td>
                            <td> 2 </td>
                            <td> 3 </td>
                            <td> 4 </td>
                            <td> >> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--   푸터 -->
        <nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer}"></nav>

    </section>
</main>


</body>
</html>