<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지 : 커뮤니티관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminFooter.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminComm.css}">
</head>
<body>

<main>

    <!--   헤더 -->
    <nav th:replace="~{/adminad/fragment/admin_header :: admin_header5}"></nav>

    <section class="content">
        <div class="admin_one_area">

            <h1 class="blue">커뮤니티 관리</h1>

            <!--		검색창 영역 -->
            <form th:action="@{admin_comm_search}" id="comm_search">
                <div class="search">
                    <input type="text" class="searchTerm" name="comm_keyword" placeholder="아이디or제목or내용">
                    <div class="searchButton" onclick="submitSearch()">
                        <img class="search_img" src="/img/admin/search.png">
                    </div>
                </div>
            </form>
            <!--		검색창 영역 끝 -->

            <div class="mem_container">
                <table class="comm_table">
                    <tr>
                        <th width="10%">번호</th>
                        <th width="15%">아이디</th>
                        <th width="10%">구분</th> <!-- 기사/고객/관리자 -->
                        <th>제목</th>
                    </tr>
<!--                        <tr th:each="comm: ${communityList}" th:attr="onclick='submitLook('+${comm.id}+')'" class="goComm">-->
<!--                        <tr th:each="comm: ${communityList}" th:attr="onclick='@{|/board/Community_list/${CommunityDto.id}|}'" class="goComm">-->
                    <tr th:each="comm: ${communityList}" th:attr="data-id=${comm.id}" class="goComm">
                        <td th:text="${comm.id}"></td>
                        <td th:text="${comm.userID}" th:utext="${#strings.replace(comm.userID, keyword, '<span>' + keyword + '</span>')}"></td>
                        <td th:text="${comm.role == 'ROLE_USER' ? '고객' : (comm.role == 'ROLE_PRO' ? '기사' : (comm.role == 'ROLE_ADMIN' ? '관리자' : '기타'))}"></td>
                        <td th:text="${comm.commuTitle}" th:utext="${#strings.replace(comm.commuTitle, keyword, '<span>' + keyword + '</span>')}"></td>
                    </tr>
                </table>
                <div class="mem_paging_wrap">
                    <table class="mem_paging">
                        <tr>
                            <td> << </td>
                            <td> 1 </td>
                            <td> 2 </td>
                            <td> 3 </td>
                            <td> 4 </td>
                            <td> >> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--   푸터 -->
        <nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer(moons=${moons})}"></nav>

    </section>
</main>
</body>
</html>
<script type="text/javascript">

<!--    게시물 검색 -->
    function submitSearch() {
        // 폼 제출 (공지 검색)
        document.getElementById('comm_search').submit();
    }


<!--     게시물로 이동 -->
    document.addEventListener("DOMContentLoaded", function() {
        var goCommElements = document.querySelectorAll(".goComm");

        goCommElements.forEach(function(element) {
            element.addEventListener("click", function() {
                var commId = element.getAttribute("data-id");
                var confirmMessage = '게시물로 이동하시겠습니까?';

                if (window.confirm(confirmMessage)) {
                    window.location.href = '/board/Community_list/' + commId;
                }
            });
        });
    });
</script>