<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin_pagingBtn.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/moon.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/adminFooter.css}">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

	<main>

		<!--   헤더 -->
		<nav th:replace="~{/adminad/fragment/admin_header :: admin_header4}"></nav>
  	
  	<section class="content">

		<div class="admin_one_area">

			<div class="moonBtn">
				<h1 class="blue">문의 관리</h1>
				<button class="mem_type_btn_ck" type="button" onclick="location='/admin_moon'">전체보기</button>
				<button class="mem_type_btn" type="button" th:onclick="'statusView(1)'">대기</button>
				<button class="mem_type_btn" type="button" th:onclick="'statusView(2)'">완료</button>
			</div>

			<!--  	  검색창 영역 -->
			<form th:action="@{admin_moon_search}" id="moon_search">
				<div class="search">
					<input type="text" class="moonsearchTerm" name="moon_keyword" placeholder="아이디or제목or질문or답변">
					<div class="searchButton" onclick="submitSearch()">
						<img class="search_img" src="/img/admin/search.png">
					</div>
				</div>
			</form>
			<!--		검색창 영역 끝 -->

			<div class="mem_container">
				<table class="moon_table">
					<tr>
						<th colspan="2" style="width: 20%">회원</th>
						<th>구분</th>
						<th>제목</th>
						<th>작성일</th>
						<th>상태</th>
					</tr>
					<tr th:each="moon: ${moonsStatus}" th:onclick="'moonView(\'' + ${moon.moonPkId} + '\', ' + (${moonsStatus.number} + 1) + ')'" class="moonTr">
						<td th:text="${moon.moonUserId}"></td>
						<td th:utext="${moon.moonRole == '1' ? '고객' : '기사'}"></td>
						<td th:utext="${moon.moonType=='1' ? '문의' : '신고'}" th:class="${moon.moonType=='1' ? 'moon_blue' : 'moon_red'}"></td>
						<td th:text="${moon.moonTitle}"></td>
						<td th:text="${#temporals.format(moon.moonQuestionDate, 'yyyy-MM-dd')}"></td>
						<td th:text="${moon.moonStatus == '1' ? '대기' : '완료'}" th:class="${moon.moonStatus=='1' ? 'moon_red' : 'moon_blue'}"></td>
					</tr>
				</table>

				<!-- 페이징 영역 -->
				<div class="mem_paging_wrap">
					<table class="mem_paging">
						<tr>
							<td> <a id="page1" class="arrow pprev" th:href="@{'/admin_moon_status/' + ${moonStatus} + '?page=1'}"> << </a> </td>
							<td> <a id="page1" class="arrow prev" th:href="${moonsStatus.first} ? '#' : @{/admin_moon_status(page=${moonsStatus.number}, status=${moonStatus})}"> < </a> </td>
							<td>
							<span class="page" th:each="page: ${#numbers.sequence(startPage, endPage)}">
								<span class="current" th:if="${page == moonsStatus.number + 1}" th:text="${page}"></span>
								<span th:unless="${page == moonsStatus.number + 1}">
									<a th:href="@{'/admin_moon_status/' + ${moonStatus} + '?page=' + ${page}}" th:text="${page}"></a>
								</span>
							</span>
							</td>
							<td> <a id="page1" th:href="${moonsStatus.last} ? '#' : @{'/admin_moon_status/' + ${moonStatus} + '?page=' + ${moonsStatus.number + 2}}"> > </a> </td>
							<td> <a id="page1" th:href="@{'/admin_moon_status/' + ${moonStatus} + '?page=' + ${moonsStatus.totalPages}}"> >> </a> </td>
						</tr>
					</table>
				</div>

			</div>
		</div>


		<!--   푸터 -->
		<nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer(moons=${moons})}"></nav>


  	</section>
	</main>

</body>
</html>
<script type="text/javascript">

	<!--	문의글 보기 -->
	function moonView(moonPkId, currentPage) {
		window.location.href = '/admin_moon_view/' + moonPkId + '?page=' + currentPage;
	}
	<!--	상태 보기  -->
	function statusView(status) {
		window.location.href = '/admin_moon_status/' + status;
	}

	// 문의 검색
	function submitSearch() {
		// 폼 제출 (공지 검색)
		document.getElementById('moon_search').submit();
	}
</script>