<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지 : 고객관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminFooter.css}">
</head>
<body>

<main>

    <!--   헤더 -->
    <nav th:replace="~{/adminad/fragment/admin_header :: admin_header2}"></nav>

    <section class="content">
        <div class="admin_one_area">

            <h1 class="blue">회원 리스트</h1>

            <div class="mem_top">

                <div>
                    <button class="mem_type_btn" type="button" value="고객" onclick=""></button>
                    <button class="mem_type_btn" type="button" value="기사" onclick=""></button>
                </div>

                <!-- 검색창 영역 -->
                <div class="search_mem">
                    <input type="text" class="searchTerm" placeholder="아이디or이름">
                    <div class="searchButton"><img class="search_img" src="/img/admin/search.png"></div>
                </div>
                <!--검색창 영역 끝 -->
            </div>

            <div class="mem_container">
                <table class="mem_table">
                    <tr>
                        <th>유형</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>지역</th>
                        <th>변경</th>
                    </tr>
                    <tr>

                    </tr>
                </table>
                <div class="mem_paging_wrap">
                    <table class="mem_paging">
                        <tr>
                            <td> << </td>
                            <td> 1 </td>
                            <td> 2 </td>
                            <td> 3 </td>
                            <td> 4 </td>
                            <td> >> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--   푸터 -->
        <nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer(moons=${moons})}"></nav>

    </section>
</main>


</body>
</html>