<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>공지 리스트</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/adminFooter.css}">
</head>
<body>

	<main>

		<!--   헤더 -->
		<nav th:replace="~{/adminad/fragment/admin_header :: admin_header3}"></nav>

		<section class="content">

			<div class="half_content">
			<!--		1 공지사항 -->
				<div class="admin_half_area">
					<h1 class="blue">공지사항</h1>
					<!--  	  검색창 영역 -->
					<form th:action="@{admin_notice_search}" id="notice_search">
						<div class="search">
							<button type="button" onclick="location='admin_notice_write'">공지올리기</button>
							<input type="text" class="searchTerm" name="notice_keyword" placeholder="제목or내용 검색">
							<div class="searchButton" onclick="submitSearch()">
								<img class="search_img" src="/img/admin/search.png">
							</div>
						</div>
					</form>
					<!--		검색창 영역 끝 -->

<!--					공지 리스트 -->
					<div class="notice_container">
						<table class="notice_table">
							<tr>
								<th style="width: 5%">구분</th>
								<th style="width: 30%">제목</th>
							</tr>
							<tr th:each="important: ${importants}" th:onclick="'noticeView(\'' + ${important.notice_id} + '\', ' + (${normals.number} + 1) + ')'">
								<th th:text="중요" style="color:#6192FA;font-weight: bold"></th>
								<td th:text="${important.noticeTitle}"></td>
							</tr>
							<tr th:each="normal: ${normals}" th:onclick="'noticeView(\'' + ${normal.notice_id} + '\', ' + (${normals.number} + 1) + ')'">
								<th th:text="${normal.notice_id}"></th>
								<td th:text="${normal.noticeTitle}"></td>
							</tr>
						</table>
<!--						페이징 영역-->
						<div class="mem_paging_wrap">
							<table class="mem_paging">
								<tr>
									<td> <a th:href="@{/admin_notice(page=1)}"> << </a> </td>
									<td> <a th:href="${normals.first} ? '#' : @{/admin_notice(page=${normals.number})}"> < </a> </td>
									<td>
										<span th:each="page: ${#numbers.sequence(startPage, endPage)}">
											<span class="current" th:if="${page == normals.number + 1}" th:text="${page}"></span>
											<span th:unless="${page == normals.number + 1}">
												<a th:href="@{/admin_notice(page=${page})}" th:text="${page}"></a>
											</span>
                						</span>
									</td>
									<td> <a th:href="${normals.last} ? '#' : @{/admin_notice(page=${normals.number + 2})}"> > </a> </td>
									<td> <a th:href="@{/admin_notice(page=${normals.totalPages})}"> >> </a> </td>
								</tr>
							</table>
						</div>
						<!-- 페이징 영역 끝 -->
					</div>
				</div>

				<!--		2 자주 찾는 질문 -->
				<div class="admin_half_area">

					<h1 class="blue">자주 찾는 질문</h1>

					<!--  	  검색창 영역 -->
					<form th:action="@{admin_faq_search}" id="faq_search">
						<div class="search">
							<button type="button" onclick="location='admin_faq_write'">FAQ 작성</button>
							<input type="text" class="searchTerm" name="faq_keyword" placeholder="제목or내용or태그 검색">
							<div class="searchButton" onclick="submitSearch2()">
								<img class="search_img" src="/img/admin/search.png">
							</div>
						</div>
					</form>
					<!--		검색창 영역 끝 -->

					<div class="notice_container">
						<table class="notice_table">
							<tr>
								<th style="width: 5%">번호</th>
								<th style="width: 5%">태그</th>
								<th style="width: 30%">질문</th>
							</tr>
							<tr th:each="faq: ${faqList}" th:onclick="'faqView(\'' + ${faq.faqId} + '\', ' + (${faqList.number} + 1) + ')'">
								<th th:text="${faq.faqId}"></th>
								<th th:text="${faq.faqTag}"></th>
								<td th:text="${faq.faqQuestion}"></td>
							</tr>
						</table>

						<!--						페이징 영역-->
						<div class="mem_paging_wrap">
							<table class="mem_paging">
								<tr>
									<td> <a th:href="@{/admin_notice(page=1)}"> << </a> </td>
									<td> <a th:href="${faqList.first} ? '#' : @{/admin_notice(page=${faqList.number})}"> < </a> </td>
									<td>
										<span th:each="page: ${#numbers.sequence(startPage_faq, endPage_faq)}">
											<span class="current" th:if="${page == faqList.number + 1}" th:text="${page}"></span>
											<span th:unless="${page == faqList.number + 1}">
												<a th:href="@{/admin_notice(page=${page})}" th:text="${page}"></a>
											</span>
                						</span>
									</td>
									<td> <a th:href="${faqList.last} ? '#' : @{/admin_notice(page=${faqList.number + 2})}"> > </a> </td>
									<td> <a th:href="@{/admin_notice(page=${faqList.totalPages})}"> >> </a> </td>
								</tr>
							</table>
						</div>

					</div>
				</div>
			</div>

			<!--   푸터 -->
			<nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer(moons=${moons})}"></nav>

		</section>
	</main>

</body>
</html>
<script>
<!--	공지 보기 -->
	function noticeView(noticeId, currentPage) {
		window.location.href = '/admin_notice_view/' + noticeId + '?page=' + currentPage;
	}
	function faqView(faqId, currentPage) {
		window.location.href = '/admin_faq_view/' + faqId + '?page=' + currentPage;
	}
	function submitFaqLook(faqId) {
		document.getElementById('faq_id').value = faqId;
		// 폼 제출 (faq보기)
		document.getElementById('faq_look').submit();
	}
	function submitSearch(noticeId, keyword) {
		// 공지 검색
		document.getElementById('notice_search').submit();
	}
	function submitSearch2() {
		// 폼 제출 (FAQ 검색)
		document.getElementById('faq_search').submit();
	}
</script>