<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자페이지 : 커뮤니티관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminFooter.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminComm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin_pagingBtn.css}">
</head>
<body>

<main>

    <!--   헤더 -->
    <nav th:replace="~{/adminad/fragment/admin_header :: admin_header5}"></nav>

    <section class="content">
        <div class="admin_one_area">

            <h1 class="red">블라인드 게시물 관리</h1>

            <!--  	  검색창 영역 -->
            <form th:action="@{admin_comm_search}" id="comm_search">
                <div class="search">
                    <input type="text" class="moonsearchTerm" name="keyword" placeholder="아이디or닉네임/업체명or제목or내용">
                    <div class="searchButton" onclick="submitSearch()">
                        <img class="search_img" src="/img/admin/search.png">
                    </div>
                </div>
            </form>
            <!--		검색창 영역 끝 -->

            <div class="mem_container">
                <form th:action="@{/admin_comm_blind_view}" method="post" id="view">
                    <input type="hidden" name="id" id="goId" value="">
                    <table class="comm_table">
                        <tr>
                            <th>번호</th>
                            <th>구분</th> <!-- 기사/고객/관리자 -->
                            <th>아이디</th>
                            <th>닉네임/업체명</th>
                            <th>제목</th>
                            <th>조회수</th>
                        </tr>
                        <tr th:each="comm: ${commSearch}" th:data-id="${comm.id}" onclick="submitLook(this)">
                            <td th:text="${comm.id}"></td>
                            <td th:text="${comm.role == 'ROLE_USER' ? '고객' : (comm.role == 'ROLE_PRO' ? '기사' : (comm.role == 'ROLE_ADMIN' ? '관리자' : '기타'))}"></td>
                            <td th:text="${comm.userID}" th:utext="${#strings.replace(comm.userID, keyword, '<span>' + keyword + '</span>')}"></td>
                            <td th:text="${comm.userNickname}" th:utext="${#strings.replace(comm.userNickname, keyword, '<span>' + keyword + '</span>')}"></td>
                            <td th:text="${comm.commuTitle}" th:utext="${#strings.replace(comm.commuTitle, keyword, '<span>' + keyword + '</span>')}"></td>
                            <td th:text="${comm.commuHits}"></td>
                        </tr>
                    </table>
                </form>

                <!--페이징 영역-->
                <div class="mem_paging_wrap">
                    <table class="mem_paging">
                        <tr>
                            <td><a id="page1" class="arrow pprev" th:href="@{/admin_comm_search(page=1, keyword=${keyword})}"><<</a> </td>
                            <td><a id="page1" class="arrow prev" th:href="${commSearch.first} ? '#' : @{/admin_comm_search(page=${commSearch.number}, keyword=${keyword})}"><</a></td>
                            <td>
								<span class="page" th:each="page: ${#numbers.sequence(startPage, endPage)}">
									<span class="current" th:if="${page == commSearch.number + 1}" th:text="${page}"></span>
									<span th:unless="${page == commSearch.number + 1}">
										<a th:href="@{/admin_comm_search(page=${page}, keyword=${keyword})}" th:text="${page}"></a>
									</span>
								</span>
                            </td>
                            <td> <a id="page1" th:href="${commSearch.last} ? '#' : @{/admin_comm_search(page=${commSearch.number + 2}, keyword=${keyword})}"> > </a> </td>
                            <td> <a id="page1" th:href="@{/admin_comm_search(page=${commSearch.totalPages}, keyword=${keyword})}"> >> </a> </td>
                        </tr>
                    </table>
                </div>
                <!-- 페이징 영역 끝 -->

            </div>
        </div>

        <!--   푸터 -->
        <nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer(moons=${moons})}"></nav>

    </section>
</main>
</body>
</html>
<script type="text/javascript">

<!--    게시물 검색 (키워드 제출) -->
    function submitSearch() {
        document.getElementById('comm_search').submit();
    }

//     블라인드된 게시물 조회 (팝업창)
function submitLook(element) {
    // input hidden에 값 넣기
    var id = element.getAttribute('data-id');
    document.getElementById('goId').value = id;

    var url = '/admin_comm_blind_view';
    var formData = new FormData(document.getElementById('view'));

    fetch(url, {
        method: 'POST',
        body: formData
    })
        .then(response => response.text())
        .then(data => {
            // 컨트롤러로 리턴하는 페이지를 페이지 이동이 아닌 팝업 형식으로 띄움
            var newWindow = window.open('', '_blank', 'width=900,height=800');

            // 화면의 가로세로 좌표를 이용하여 가운데 지점 설정
            var centerX = (window.innerWidth - newWindow.outerWidth) / 2 + window.screenX;
            var centerY = (window.innerHeight - newWindow.outerHeight) / 2 + window.screenY;
            // 팝업 창을 화면 가운데로 세팅
            newWindow.moveTo(centerX, centerY);
            newWindow.document.write(data);
        });
}
</script>