<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
</head>
<body>

	<main>

		<!--   헤더 -->
		<nav th:replace="~{/adminad/fragment/admin_header :: admin_header4}"></nav>
  	
  	<section class="content">

		<div class="admin_one_area">

			<h1 class="blue">문의 관리</h1>

			<!--  	  검색창 영역 -->
			<div class="search">
				<input type="text" class="searchTerm" placeholder="제목or내용">
				<div class="searchButton"><img class="search_img" src="/img/admin/search.png"></div>
			</div>
			<!--		검색창 영역 끝 -->

			<div class="mem_container">
				<table class="mem_table">
					<tr>
						<th colspan="2" style="width: 20%">회원</th>
						<th style="width: 25%">유형</th>
						<th style="width: 25%">질문</th>
						<th style="width: 10%">작성일</th>
						<th style="width: 10%">상태</th>
					</tr>
					<tr th:each="moon: ${moons}">
						<td th:text="${moon.moonUserId}"></td>
						<td th:utext="${moon.moonRole == 1 ? '고객' : '기사'}"></td>
						<td th:utext="${moon.moonType == 1 ? '문의' : '신고'}"></td>
						<td th:text="${moon.moonQuestion}"></td>
						<td th:text="${#temporals.format(moon.moonQuestionDate, 'yyyy-MM-dd')}"></td>
						<td th:text="${moon.moonStatus == 1 ? '대기' : '완료'}"></td>
					</tr>
				</table>

				<div class="mem_paging_wrap">
					<table class="mem_paging">
						<tr>
							<td> << </td>
							<td> 1 </td>
							<td> 2 </td>
							<td> 3 </td>
							<td> 4 </td>
							<td> >> </td>
						</tr>
					</table>
				</div>

			</div>
		</div>


		<!--   푸터 -->
		<nav th:replace="~{/adminad/fragment/admin_footer :: admin_footer}"></nav>


  	</section>
	</main>

</body>
</html>